<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h3>Set Configuration to all Taxons</h3>

<%= form_for @configuration, :url => save_admin_enhanced_banner_settings_path do |form|%>
	<div class="form-fields">
	 	<div class="field">
	 		<%= form.label :selection_mode, 'Mode' %>:
			<%= form.select(:selection_mode, options_for_select([['Random', 'random'], ['Cycle', 'cycle']])) %>
	 	</div>
	 	<div class="field">
	 		<%= form.label :max_count, 'Max Count Banners' %>:
			<%= form.number_field :max_count, :min => 0 %>
	 	</div>
		<div class="field">
			<%= label_tag :reset_indexes, 'Reset Index?' %>:
			<%= check_box_tag(:reset_indexes) %>
		</div>
	</div>
	<div class="form-actions">
		<%= form.submit "Set Configuration" %>
	</div>
<% end %>