<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h3 class="page-info">Add new banner to taxon: <%= @taxon.name %></h3>

<%= form_for [:admin, @image], :url => admin_taxon_enhanced_banners_path(:taxon_id => @taxon.id), :html => { :multipart => true } do |form| %>
  <div class="form-fields">
  	<%= form.file_field :attachment %>
  </div>
  <div class="form-actions">
  	<%= form.submit "Add Banner" %>
  </div>
<% end %>